.button{
  border-radius: 10px;
  padding: 10px 25px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.header{
  margin-bottom: 3%;
}
.primary{
  background-color: #2a4a4a;
}
.secondary{
  background-color: #e6f196;
  color: black;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  width: 80%;
  margin: auto;
  height: 100%;
}
.form-container{
  width: 60%;
  background-color: #fdf4e8;
  border-radius: 5%;
  padding:  5%;
}
.form {
  margin: 20% 0 5% 0;
}

label {
  font-weight: 600;
}